<div class="pro-lamp-wrapper">
  <img src="https://cdn.shopify.com/s/files/1/0726/0857/9899/files/heng-pro-lamp.png?v=1678430593 " class="heng-pro-img" />
  <button class="explore1 explore-btn">EXPLORE</button>
  <button class="explore2 explore-btn">EXPLORE</button>
  <button class="explore3 explore-btn">EXPLORE</button>
</div>
{% schema %}
    {
        "name":"Hang lamp Image",
        "settings":[

        ],
        "presets": [
            {
                "name": "Hang lamp Image"
            }
        ]
    }
{% endschema %}