<div class="section2">
  <div class="animation-wrapper">
    <div class="animation-content">
      <!-- block1 -->
      <div class="hoverpen1">
        <div class="animation-block">
          <div class="top-wrapper">
            <h1 class="number">01</h1>
            <img src="https://cdn.shopify.com/s/files/1/0726/0857/9899/files/heng-balance-lamp.png?v=1678510339" class="image">
            <div class="title-group">
              <h1 class="title">Heng Balance Lamp</h1>
              <h2 class="sub-title">
                The memory stays with you so <br/>much as its light shines on <br/>you...
              </h2>
              <div class="description-wrapper">
                <p class="description">
                  When it balances, it looks like a sculpture radiating spiritual light that brightens up your mood; when it spins, it produces a marvellous optical illusion that puts your mind at ease. You are bound to get showered with compliments whenever a friend comes to visit.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- block2 -->
      <div class="hoverpen2">
        <div class="animation-block">
          <div class="top-wrapper">
            <h1 class="number">02</h1>
            <img
              src="https://cdn.shopify.com/s/files/1/0726/0857/9899/files/heng-pro-lamp1.png?v=1678510339"
              width="678"
              alt=""
              class="image">
            <div class="title-group">
              <h1 class="title">Heng Pro Lamp</h1>
              <h2 class="sub-title">
                HOW TO BE A BETTER <br/>GIFT-GIVER
              </h2>
              <div class="description-wrapper">
                <p class="description">
                  Tuesday’s convergent exercises focus on a solution for the challenge. In the morning, you’ll run through a set of
                  <strong>voting
                  </strong>exercises on Monday’s sketches and
                  <strong>present</strong>
                  the most popular before making a selection. In the afternoon, you’ll define a
                  <strong>test flow
                  </strong>and create a
                  <strong>storyboard
                  </strong>that details how users will move through your solution.<br>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- blcok3 -->
      <div class="hoverpen3">
        <div class="animation-block">
          <div class="top-wrapper">
            <h1 class="number">03</h1>
            <img
              src="https://cdn.shopify.com/s/files/1/0726/0857/9899/files/zan-design-img.png?v=1678510339"
              width="350"
              alt=""
              class="image">
            <div class="title-group">
              <h1 class="title">Lybra Balance Lamp</h1>
              <h2 class="sub-title">
                The solution visualised as an<br/> interactive prototype.
              </h2>
              <div class="description-wrapper">
                <p class="description">
                  Wednesday’s tasks see our hard work from the previous days come to life. We’ll put our heads down and
                  rapidly
                  <strong>prototype</strong>
                  the agreed upon storyboards, developing them as a clickable mockup
                  showcasing
                  <strong>user interface</strong>,
                  <strong>interactions,</strong>
                  and the end-to-end<strong>
                    user flow
                  </strong>of the solution - ready for testing<strong>.</strong><br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>