<div class="line-of-products">
    <p class="heading-detail-small">LINE OF PRODUCTS</p>
    <h3 class="h3-heading">Our Plethora of Product<br/>Just for YOU</h3>
    <div class="line-of-products-img" id="home-line-pdts">
      <!-- pdts added in script -->
    </div>
   </div>
  </div>
