<div class="life-time-wrapper">
    {% if section.settings.video_section_title %}
    {% assign title = section.settings.video_section_title %}
    <p class="power-text1"> {{ title }} </p>
          
    {% endif %}
    
    {% if section.settings.video_section_heading %}
    {% assign heading = section.settings.video_section_heading %}
    <h2 class="power-text2"> {{ heading }} </h2>
    {% endif %}

          {% if section.settings.    video_section_paragraph %}
          {% assign pragraph = section.settings.video_section_paragraph %}
          <p  class="power-text3">{{ pragraph }}</p>  
          {% endif %}
          {% if section.settings.video_section_sub_paragraph %}
          {% assign sub_pragraph = section.settings.video_section_sub_paragraph %}
          <p  class="power-text4">{{ sub_pragraph }}</p>  
          {% endif %}
          
     <div class="reserve-btn1-container">
          <button class="reserve-btn1">Reserve now</button>
     </div>
 </div>
{% schema %}
    {
        "name":"Video section heading",
        "settings":[
            {
                "type":"text",
                "id":"video_section_title",
                "default":"20000 Hour for its Lifetime",
                "label":"video-section-title"            
            },
            {
                "type":"text",
                "id":"video_section_heading",
                "default":"Powered by the Sun",
                "label":"video_section_heading"
            },
            {
                "type": "text",
                "id":"video_section_paragraph",
                "default": "The Heng Balance Lamp is the traditional lamp next door with an unconventional twist that makes it the lamp like no other, ergo it will light up your room like none of the other lamps can.",
                "label":"video_section_paragraph"
            },
            {
                "type":"text",
                "id":"video_section_sub_paragraph",
                "default":"Works on the principle of magnetic equilibrium",
                "label":"video_section_sub_paragraph"
            }
        ]
    }
{% endschema %}