<div class="zan-design-video">
       <div class="z-d-video">
       <video autoPlay loop style="background-image:' {{ home_video_back.png | asset_url }}'; height: 100%; width: 100%; object-fit: fill; border-radius: 10px" muted playsInline data-wf-ignore="true" data-object-fit="fill">
          <source src="{{ 'zan-design-videos.mp4' | asset_url}}" data-wf-ignore="true"/>
       </video>
       <a href=" https://youtu.be/z3wJi9wBlf8 " target="_blank" class="play-button ">
          <div class="play-icon ">
          <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 13 16">
            <path fill="currentColor" fill-rule="evenodd" d="M12.46 9.3L1.88 15.83A1.23 1.23 0 010 14.78V1.22A1.23 1.23 0 011.91.19L12.5 7.23a1.23 1.23 0 01-.04 2.07z"></path>
          </svg>
          </div>
        </a>
       </div>
       <div class="z-d-txt">
        <p class="zan-design-text">If you want to add some ambient lighting to your room, this lamp is a must.</p>
        <p class="home-video-txt">See it in action <img src="{{video-arrow.svg}}"/></p>
       </div>
 </div>   
</div> 